# Ignore compiled Python files
*.pyc
__pycache__

*.so
*.a
*front_
*.png



# Ignore specific directories
simulation/code/
simulation/lib/
simulation/out/
simulation/data/

# Ignore specific HTML files
*.html
*.pdf
*.svg

# Ignore any files starting with "front_"
code

# Ignore planning (if it refers to a directory or files)
planning/

# Ignore any "out" directories at any level
out/
